
@model List<Domain.TicketSaleStatistic>

<h2>Ticket Sales Statistics</h2>

<table class="table">
    <thead>
        <tr>
            <th>Event</th>
            <th>Tickets Sold</th>
            <th>Revenue</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.EventName</td>
                <td>@item.TotalTicketsSold</td>
                <td>@item.TotalRevenue</td>
            </tr>
        }
    </tbody>
</table>